<%= form_with(model: @profile, url: {action: "create"}, data: { turbo: false }) do |f| %>
  <section class="vh-300" style="background-color: #eee;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">New User</p>

                <div class="field">
                    <label class="form-label" for="name">Name</label><br>
                    <%= f.text_field :name, class: 'form-control'%>
                    <% @profile.errors.full_messages_for(:name).each do |message| %>
											<div><%= message %></div>
										<% end %>
                    <br>
                </div>

                <div class="field">
                  <label class="form-label" for="mobile">Mobile</label><br>
                  <%= f.text_field :mobile, class: 'form-control'%>
                  <% @profile.errors.full_messages_for(:mobile).each do |message| %>
										<div><%= message %></div>
									<% end %>
                  <br>
                </div>

                <div class="field">
                  <label class="form-label" for="email">Email</label><br>
                  <%= f.text_field :email, class: 'form-control'%>
                  <% @profile.errors.full_messages_for(:email).each do |message| %>
										<div><%= message %></div>
									<% end %>
                  <br>
                </div>

                <div class="field">
                  <label class="form-label" for="role">Role</label><br>
                  <%= f.collection_select :role_id, Role.all, :id, :name, class: "form-select" %>
                  <% @profile.errors.full_messages_for(:role_id).each do |message| %>
										<div><%= message %></div>
									<% end %>
                  <br>
                </div>
                
                <div class="field">
                  <br>
                  <label class="form-label" for="social">Social Media</label><br>
                </div>

                <div class="field">
                  <%= f.fields_for :socials do |form| %>
                    <%= render 'social', f: form %>
                  <% end %>
                  <%= link_to_add_row('Add Social', f, :socials)%>
                  <br><br>
                </div>
				
                <div class="field">
                  <label class="form-label" for="avatar">Image</label><br>
                  <%= f.file_field :avatar, class: 'form-control'%>
                  <span class="dropzone-msg-desc">Max File Size: 1Mb, File Format: .png, .jpg, .jpeg, .gif</span><br>
                  <% @profile.errors.full_messages_for(:avatar).each do |message| %>
										<div><%= message %></div>
									<% end %>
                  <br>
                </div>

                <div class="field">
                  <label class="form-label" for="password">Password</label><br>
                  <%= f.text_field :password, class: 'form-control' %>
                  <% @profile.errors.full_messages_for(:password).each do |message| %>
										<div><%= message %></div>
									<% end %>
                  <br>
                </div>
                
                  <button class="btn btn-primary btn-lg btn-block" type="submit">Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  
<% end %>

<script>
  function add_fields(link, association, content) {
    var new_id = new Date().getTime();
    var regexp = new RegExp("new_" + association, "g")
    $(link).parent().before(content.replace(regexp, new_id));
  }

  function remove_fields(link, association, content) {
    $(link).prev("input[type=hidden]").val();
    $(link).closest("fieldset").hide();
    return event.preventDefault();
  }
</script>