<%= page_entries_info @profiles %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>No</th>
      <th><%= sortable "name" %></th>
      <th><%= sortable "role_id" %></th>
      <th>Social Media</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @profiles.each_with_index do |profile, index| %>
     <tr>
      <td><%= index+=1 %></td>
      <td><%= profile.name %></td>
      <td><%= profile.role.name %></td>
      <td> 
      <% @profile.each do |social| %>
        <% if profile.id == social.user_id %>
          <%= social.short %>,
        <% end %>
      <% end %>
      </td>
      <td>
        <% if current_user.id == profile.id %>
          <%= link_to "Show", profile_path(profile) %>
          <%= link_to "Edit", edit_profile_path(profile)%>
        <% else %>
          <%= link_to "Show", profile_path(profile) %>
          <%= link_to "Edit", edit_profile_path(profile)%>
          <%= link_to "Delete", profile_path(profile), data: {turbo_method: :delete,
            turbo_confirm: "Are you Sure ?"}%>
        <% end %>
      <td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @profiles %>