<%= paginate @paginates, inner_window: 3%>
<table class="table table-striped">
  <thead>
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Role</th>
      <th>Social Media</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @profiles.each_with_index do |profile, index| %>
     <tr>
      <td><%= index+=1 %></td>
      <td><%= profile.name %></td>
      <td><%= profile.role.name %></td>
      <td> 
      <% @profile.each do |social| %>
        <% if profile.id == social.user_id %>
          <%= social.short %>
        <% end %>
      <% end %>
      </td>
      <td>
        <%= link_to "Show", profile_path(profile) %>
      <td>
    </tr>
    <% end %>
  </tbody>
</table>