<%= link_to 'Download as Excel', articles_index_path(format: :xlsx), class: 'btn btn-secondary' %>
<hr>
<table class="table table-striped">
  <thead>
    <tr>
      <th>No</th>
      <th>Author</th>
      <th>Title</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each_with_index do |article, index| %>
      <tr>
        <td><%= index += 1 %></td>
        <td><%= article.user.name %></td>
        <td><%= article.title %></td>
        <td><%= article.status %></td>
        <td>
          <%= link_to "Show", article, class: 'btn btn-primary' %>
          <%= link_to "Edit", edit_article_path(article), class: 'btn btn-success' %>
          <%= link_to "Delete", article_path(article), data: {turbo_method: :delete,
            turbo_confirm: "Are you Sure ?"}, class: 'btn btn-danger'%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @articles %>