<%= render "layouts/navbar" %>
<div class="container-fluid bg-light">
  <h1>Articles</h1><br>

  <% flash.each do |key, value| %>
    <div class="<%= flash_class(key)%>">
      <%= value %>
    </div>
  <% end %>

  <div class="row">
    <div class="col">
      <%= link_to "New Article", new_article_path, class: 'btn btn-primary' %>
    </div>
    <div class="col-3">
      <%# Melakukan pencarian berdasarkan title dan berdasarkan status %>
      <%= form_tag(articles_path, method: 'get') do %>
        <%= text_field_tag(:title, params[:title]) %>
        <%= select_tag :status, options_for_select([['None'],["Publish", true], ["Unpublish", false]]), class: 'select' %>
          <button type="submit" class="btn btn-success">Search</button>
        <% end %>
      <br>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>No</th>
        <th>Title</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @articles.each_with_index do |article, index| %>
        <tr>
          <td><%= index += 1 %></td>
          <td><%= link_to article.title, article %></td>
          <td>
            <% if article.status? %>
              Publish
            <% else %>
              Unpublish
            <% end %>
          </td>
          <td>
            <%= link_to "Show", article %>
            <%= link_to "Edit", edit_article_path(article) %>
            <%= link_to "Delete", article_path(article), data: {
            turbo_method: :delete,
            turbo_confirm: "Are you Sure ?"}%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>