<h1>Search Result</h1>

<%= link_to "Back", root_path %>

<table border = "1">
  <thead>
    <tr>
      <th>No</th>
      <th>Title</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each_with_index do |blog, index| %>
      <% if article.title? %>
        <tr>
          <td><%= index += 1 %></td>
          <td><%= link_to blog.title, blog %></td>
          <td>
            <% if blog.status? %>
              Publish
            <% else %>
              Unpublish
            <% end %>
          </td>
          <td>
            <%= link_to "Show", blog %>
            <%= link_to "Edit", edit_article_path(blog) %>
            <%= link_to "Delete", article_path(blog), data: {
            turbo_method: :delete,
            turbo_confirm: "Are you Sure ?"}%>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>