<div class="container-fluid">
<%= render "layouts/navbar" %>
  <% flash.each do |key, value| %>
    <div class="alert <%= flash_class(key) %> alert-dismissible fade show text-center" role="alert">
      <strong><%= value %></strong>
    </div>
  <% end %>
  <div class="card">
    <div class="card-header">
      <h2><%= @article.title %></h2>
    </div>
    <div class="card-body">
      <p><%= @article.body %></p>
      <%= link_to "Edit", edit_article_path(@article), class: 'btn btn-primary'%>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h2>Comment</h2>
        </div>
        <div class="card-body">
          <p class="small mb-0 ms-2"><%= render @article.comment %></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h2>Add Comment</h2>
        </div>
        <div class="card-body">
          <%= render 'comments/form' %>
        </div>
      </div>
    </div>
  </div>
</div>



